.star{
    width: 80px;
    height: 4px;
    background-color: rgb(44, 62, 80) ;
}
button{
    background-color: #1abc9c;
}

.form-control:focus{
    box-shadow: none;
}
.btn:hover{
    background-color:#1abc9c;
}