.star{
    width: 80px;
    height: 4px;
    background-color: rgb(44, 62, 80) ;
}
  .layer{
position: absolute;
 background-color:  #1abc9ce4;
right: 0;
top: 0;
left: 0;
bottom: 0;
opacity: 0;
transition: 0.5s;
cursor: pointer;
}
.carry:hover .layer{
    opacity: 1;
    }




    .modal-content{
background-color: transparent;
border: none;
    }