
<div class="home  d-flex justify-content-center mt-5 py-5  text-white ">

        <div class="text-center text-white py-5 mt-5">
                <img class="w-75" src="./assets/imags/avataaars.svg" alt="avataaars">
                <h1 class="fw-bold text-uppercase mb-3 pt-4">start Framework</h1>

               <div class="d-flex  justify-content-center align-items-center ">

                       <div class="star bg-white me-3 w-25"></div>
                          <i class="fa-solid fa-star d-inline-block"></i>
                            <div class="star bg-white ms-3  w-25"></div>

                </div>

                    <div class="pt-4">Graphic Artist - Web Designer - Illustrator</div>

     
         </div>
 </div>
